html {
  box-sizing: inherit;
}

image {width: 100%
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

 ol {
   color: #fff;
 }
